.rooms {
    .room {
        padding: @content-padding;

        border: 1px solid #ccc;
    }
}

.room-detail {
    .heading {
        padding: @content-padding;

        border: 1px solid #ccc;

        .title {
            font-size: 20px;
        }
    }
}
