<div class="row">
    <div class="col-sm-12">
        <h3>
            Manage Organization

            <small>{{model.name}}</small>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        {{#each user in model.users}}
            {{user.username}}
        {{/each}}
    </div>
</div>
