<div class="heading">
    <span class="title">
        {{model.title}}
    </span>
</div>

<div class="messages">
    <div class="messages-container">
        {{#each message in model.messages}}
            <div>{{message.text}}</div>
        {{/each}}
    </div>
</div>

<div class="message-input">
    {{textarea class="form-control" value=message}}
</div>
